textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }

  .comment-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #ccc;
  }

  .comment-text {
    margin-left: 30px;
  }
  .comments {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
  }

  .reply-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
  }